/* .main-app {
    background-color: #222222;
    height: 100vh;
} */

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}
.nav-bar-left{
    display: flex;
    flex-direction: row;
}
.nav-bar-right{
    display: flex;
    flex-direction: row;
}

.nav-element {
    color: white;
    padding: 20px;
    font-weight: bolder;
    user-select: none;
}

.nav-element:hover {
    background-color: white;
    color: black;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.grid-element {
    width: 25px;
    height: 25px;
    border-top: 1px solid lightblue;
    border-left: 1px solid lightblue;
}

.grid-main {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border-bottom {
    border-bottom: 1px solid lightblue;
}
.border-right {
    border-right: 1px solid lightblue;
}

.start-grid-element {
    background-color: purple;
}
.finish-grid-element {
    background-color: green;
}

.block-wall {
    background-color: cornflowerblue;
}

.path-grid {
    background-color: coral !important;
    animation-name: path-fadein !important;
}

@keyframes path-fadein {
    0% {
      transform: scale(.3);
      border-radius: 100%;
    }
    70% {
      transform: scale(1);
    }
  }

.visited-grid {
    background-color: #dcf26f;
    animation-name: stretch;
    animation-duration: 500ms; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: blue;
      border-radius: 100%;
    }
    50% {
      background-color: #4d875c;
    }
    70% {
      transform: scale(1);
      background-color: #5ea671;
    }
    100% {
        background-color: #dcf26f;
    }
  }