/* .main-app {
    background-color: #222222;
    height: 100vh;
} */

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}
.nav-bar-left{
    display: flex;
    flex-direction: row;
}
.nav-bar-right{
    display: flex;
    flex-direction: row;
}

.nav-element {
    color: white;
    padding: 20px;
    font-weight: bolder;
    user-select: none;
}

.nav-element:hover {
    background-color: white;
    color: black;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.grid-element {
    width: 25px;
    height: 25px;
    border-top: 1px solid lightblue;
    border-left: 1px solid lightblue;
}

.grid-main {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-grid-element {
    background-color: yellow;
}
.finish-grid-element {
    background-color: green;
}

.block-wall {
    background-color: cornflowerblue;
}

.path-grid {
    background-color: purple;
    transition-property: background-color;
    transition-duration: 200ms;
}