.queue-element {
    border: 3px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: 10px;
    height: 80px;
    width: 200px;   
    font-size: 22px;
    font-weight: bolder;
    color: black;
}

.head-element {
    background-color: rgb(82, 188, 105);
}

.being-behead {
    background-color: yellow !important;
    transition: all;
    transition-duration: 500ms;
} 

.being-head {
    background-color: rgb(255, 138, 39) !important;   
    transition: all;
    transition-duration: 500ms;
}

.peek-element {
    background-color: rgb(255, 138, 39)  !important;
    transition: all;
    transition-duration: 500ms;
}